h1 {
    font-size: 96px;
}

img {
    border-radius: 10px;
}

main {
    margin-top: 70px;
}

.bg-color {
    background-color: rgba(231, 221, 202) !important;
}

.mail {
    color: rgb(125, 92, 69);
    font-size: 20px;
}

.pancakes-container {
    background-color: #EBB67E;
    border-radius: 10px;
}