:root {
    --colorOne: #F79C97;
    --colorTwo: #00535C;
    --colorThree: #5C2B40;
    --displayChoice: block;
}

body {
    background: var(--colorOne);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: var(--colorThree);
    font-weight: bolder;
}

h3 {
    color: var(--colorTwo);
}

img {
    display: var(--displayChoice);
    margin: 0 auto;
    width: 200px;
}

h1 {
    text-align: center;
}

.container {
    background: #f7e4ec;
    border-radius: 20px;
    display: var(--displayChoice);
    margin: 80px auto;
    padding: 20px;
    width: 600px;
}
